body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

h2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

h3 {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

#portfolio h3 {
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
}

a {
  font-size: 13px;
  line-height: 16px;
}

p {
  line-height: 15px;
  letter-spacing: 0em;
}

h6 {
  font-weight: 600;
  font-size: 12px;
  line-height: 25px;
  text-align: left;
}

h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
}

footer li,
footer span {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

footer span:last-child {
  font-size: 12px;
  line-height: 15px;
}

header li {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media (min-width: 700px) {
  header li {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }

  h2 {
    font-weight: 400;
    font-size: 33px;
    line-height: 48px;
  }
}

@media (min-width: 1000px) {
  h2 {
    font-size: 54px;
    line-height: 68px;
  }

  h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }

  #portfolio h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
  }

  h6 {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
  }

  header li {
    font-size: 18px;
    line-height: 22px;
  }

  a {
    font-size: 18px;
    line-height: 22px;
  }

  p {
    font-size: 18px;
    line-height: 30px;
  }

  span {
    font-size: 18px;
    line-height: 25px;
  }

  footer li,
  footer span,
  footer span:last-child {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (min-width: 1900px) {
  h1 {
    font-weight: 700;
    font-size: 44px;
    line-height: 59px;
  }

  h2 {
    font-size: 74px;
    line-height: 88px;
  }

  h3 {
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
  }

  #portfolio h3 {
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
  }

  h6 {
    font-weight: 600;
    font-size: 28px;
    line-height: 30px;
  }

  header li {
    font-size: 28px;
    line-height: 32px;
  }

  a {
    font-size: 28px;
    line-height: 32px;
  }

  p {
    font-size: 28px;
    line-height: 40px;
  }

  span {
    font-size: 28px;
    line-height: 35px;
  }

  footer li,
  footer span {
    font-size: 28px;
    line-height: 35px;
  }
}
