html,
body {
  padding: 0;
  margin: 0;
  color: #333333;
  background-color: #fffaf2;
}

header {
  background-color: #f5d6ab;
  background-image: url(./images/mobile/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 36px 78px 50px 73px;
}

a {
  margin-top: 29px;
  color: #ffffff;
}

header nav {
  display: none;
}

header h1 {
  margin: 0 0 16px 0;
}

h1 {
  margin: 25px 0 0 -6px;
}

h2 {
  margin-top: 34px;
  margin-bottom: 13px;
}

h3 {
  margin-top: 0;
}

hr {
  width: 24px;
  height: 2px;
  border: 0;
  background: #ffffff;
  margin: 0 4px 4px 0;
}

#burger {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 33px;
  top: 44px;
}

/*////////////////////////////////////////////////////////*/

section:nth-child(odd) {
  background-color: #ffffff;
}

section,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px 0 34px;
  text-align: justify;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#about {
  margin-bottom: 12px;
}

p {
  margin-top: 18px;
}

#second-paragraph {
  margin-top: 4px;
}

#profile-picture {
  margin-top: 25px;
  margin-right: 14px;
}

/* ///////////////////////////////////////////////////////////// */

#skills {
  margin-bottom: 25px;
}

#skills h6 {
  margin: 0;
  padding: 0;
  display: inline;
  text-align: left;
}

.profile-description {
  width: 100%;
  margin-top: 24px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.skills-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.skill {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 9px;
}

.line {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.line span {
  width: 211px;
}

.bar {
  width: 211px;
  height: 18px;
  background-color: #f5d6ab;
  margin: 0;
  padding: 0;
}

.status {
  z-index: 2;
  height: 18px;
  background-color: #c66c49;
}

/* ////////////////////////////////////////// */

#portfolio h3 {
  margin: 19px 0 0 -14px;
}

#portfolio p {
  margin-top: 14px;
  text-align: center;
}

#pictures {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 19px;
  display: flex;
  gap: 11px;
}

#portfolio img {
  width: 98%;
}

.upper-img {
  margin-bottom: 9px;
}

/* ////////////////////////////////////////////// */

footer {
  padding-left: 41px;
  margin-bottom: 50px;
}

footer nav {
  margin-top: 14px;
  display: flex;
  width: 100%;
  margin-bottom: 18px;
  gap: 16px;
}

footer ul {
  padding: 0;
  list-style-type: none;
  width: 50%;
}

footer li {
  width: 50%;
}

footer li:not(:last-child) {
  margin-bottom: 19px;
}

footer span {
  display: block;
}

#contacts {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  row-gap: 7px;
}

@media (max-width: 320px) {
  header {
    padding-bottom: 25px;
  }

  .bar, #skills span {
    width: 130px;
  }

  #pictures {
    gap: 5px;
  }

  #portfolio img {
    width: 100%;
  }
}

@media (min-width: 425px) {
  #portfolio img {
    width: 102%;
  }

  #pictures {
    gap: 14px;
  }
}

@media (min-width: 500px) {
  .bar, #skills span {
    width: 290px;
  }

  #skills img {
    width: 60vw;
  }
}

@media (min-width: 600px) {
  .bar, #skills span {
    width: 390px;
  }
}

@media (min-width: 700px) {
  header {
    background-image: url(./images/desktop/background.png);    
    align-items: flex-start;
    padding-bottom: 116px;
  }

  header h1 {
    position: relative;
  }

  header nav {
    display: inline;
    position: absolute;
    width: auto;
    top: 29px;
    right: 45px;
  }

  #burger {
    display: none;
  }

  header ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 22px;
  }

  header li:first-child {
    font-weight: 700;
  }

  h1, #portfolio h3 {
    margin-left: 0;
  }

  .content {
    flex-direction: row;    
  }

  #about .content {
    flex-direction: column;
  }

  section, footer {
    align-items: flex-start;
    padding: 0 40px 0 75px;
  }

  /* ///////////////////////// */

  #skills .content {
    gap: 30px;
  }

  #skills h1 {
    margin-bottom: 35px;
  }

  #skills img {
    width: 100%;
  }

  .profile-description {
    margin-bottom: 20px;
  }

  #profile-picture {
    margin: 0;
  }

  .skills-table {
    gap: 11px;
  }

  .skill {
    gap: 4px;
  }

  .bar, #skills span {
    width: 290px;
  }

  /* //////////////////////// */

  #portfolio p {
    width: 50%;
    text-align: left;
  }

  #portfolio .content {
    align-items: flex-start;
    gap: 40px;
  }

  #portfolio h3 {
    margin: 35px 0 20px 0;
  }

  /* /////////////////////// */

  footer {
    margin-bottom: 40px;
  }

  footer h1 {
    margin-bottom: 75px;
  }

  footer nav{
    margin: 0;
  }

  footer .content {    
    align-items: flex-start;
  }

  footer img {
    position: relative;
    top: 220px;
  }

  footer ul {
    margin-bottom: 80px;
  } 
}


@media (min-width: 830px) {
  header ul {
    gap: 40px;
  }

  #skills .content {
    gap: 30px;
  }

  .bar, #skills span {
    width: 290px;
  }

  #skills img {
    width: 30vw;
    margin: auto;
  }

  #portfolio .content {   
    gap: 65px;
  }
}

@media (min-width: 1000px) {
  header h1 {
    margin-top: 25px;
  }

  header nav {
    top: 55px;
  }

  h2 {
    margin-top: 80px;
    margin-bottom: 20px;
  }

  header a {
    margin-top: 40px;
  }

  #skills img {
    width: auto;
  }

  .profile-description {
    margin-bottom: 50px;
  }

  .bar, #skills span {
    width: 390px;
  }

  .skills-table {
    gap: 25px;
  }

  .skill {
    gap: 12px;
  }

  #portfolio .content {
    gap: 125px;
  }
}

@media (min-width: 1100px) {
  #skills .content {
    gap: 100px;
  }    
}

@media (min-width: 1200px) {
  header {
    padding-left: 150px;
  }

  section, footer {
    padding: 0 100px 0 150px;
  }
}

@media (min-width:1440px) {
  header {
    padding-left: 165px;
  }

  header nav {
    right: 165px;
  }

  section, footer {
    padding: 0 165px 0 165px;
  }
}

@media (min-width:1640px) {
  header {
    padding-left: 185px;
  }

  header nav {
    right: 185px;
  }

  section, footer {
    padding: 0 185px 0 185px;
  }
}